/* Footer Styles */

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    font-size: 1.3em;
    width: 100%;
    margin: 10px auto;
    @media (min-width: $break-sm) {
        max-width: 768px;
        margin: 0 auto;
        padding: .5em 1em;
    }
    @media (min-width: $break-lg) {
        max-width: 1024px;
        margin: 0 auto;
    }
}

.copyright {
    font-size: .75em;
    padding: 5px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
    margin: 0px 5px;
}

a.twitter {
    background-image: url(../images/twitter.svg);
}

a.linkedin {
    background-image: url(../images/linkedin.svg);
}

a.github {
    background-image: url(../images/github.svg);
}

a.social:hover {
    opacity: 1;
    transform: scale(1.25);
}

