/* Portfolio Styles */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    @media (min-width: $break-sm) {
        width: 45%;
    }
}

.portInfo {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.2em;
}

.portInfo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.portInfo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}

.portfolio a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    color: darkslategray;
}

.portimg {
    align-self: center;
    width: 95%;
    height: 200px;
    padding: 10px 0px;
    opacity: .5;
    position: relative;
}